@model Fixxo.MVC.Models.OutputDto.GetJacketOutputDto

<div class="shoes-grid featured-product details">
    <div class="item1 img-container">
        <img src="@Model.ImgUrl" />
    </div>
    <div class="item2">
        <h3>@Model.Name</h3>
        <p>@Model.Category</p>
        <p>Max size: @Model.AvailableSizes</p>
        <p>Rating : @Model.Rating</p>
        <div>
            @for (var i = Model.Rating; i > 0; i--)
            {
                <i class="fa-solid fa-star"></i>
            }
        </div>
    </div>
    <div class="item3">
        <h3>Description</h3>
        <p>
            Awesome jacket Awesome jacket Awesome jacketAwesome jacketAwesome jacketAwesome jacketAwesome jacketAwesome jacket Awesome jacketAwesome jacketAwesome jacket Awesome jacket
            Awesome jacket Awesome jacket Awesome jacketAwesome jacketAwesome jacket Awesome jacket Awesome jacketAwesome jacketAwesome jacket Awesome jacket
        </p>
    </div>
    <div class="item5">
    </div>
    <div class="item4">
        <h3>@Model.Name</h3>
        <p>@Model.Category</p>
        <p>Max size: @Model.AvailableSizes</p>
        <p>Rating : @Model.Rating</p>
        <div>
            @for (var i = Model.Rating; i > 0; i--)
            {
                <i class="fa-solid fa-star"></i>
            }
        </div>
    </div>
</div>
